/build.ninja
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/CTestTestfile.cmake
/mkpsiphon-client
/json.hpp
/libmkpsiphon.a
/.ninja_deps
/.ninja_log
/rules.ninja
*.swp
/Testing/
/.vs
/Makefile

# Psiphon related
/libpsiphontunnel.dylib
/psiphon-config.json
/psiphon.boltdb
/server_list_compressed
